canvas{
    background-color: #000;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

html{
    font-size: 8px;
    font-family: "Lato", Arial, sans-serif;
}

h1{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #000;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}
